@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyColor{
  background: linear-gradient(to bottom, #e5e7eb, rgba(243, 244, 246, 0.914));
}

/* skill */
.bloc-skill {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



.scrollbarHide::-webkit-scrollbar {
  display: none;
}
.active {
  color: #054396;
}